/* CDN font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 800px;
    margin: auto;
}

/* Navbar */
nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 80%;
}

nav .items {
    display: flex;
    margin: auto;
    width: 30%;
    justify-content: space-around;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background: rgb(218, 206, 206);
    color: black;
}


/* Showcase */
.showcase h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 54px;
}

/* Articles */
article {
    padding: 50px 0 50px 0;
}

article h1 {
    font-size: 50px;
    margin: auto;
    padding: 30px 0 30px 0;
    text-align: center;
}

.article-1 p {
    font-size: 22px;
    text-align: justify;
    text-indent: 5%;
}

.article-2 h3 {
    font-size: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.article-2 li {
    font-size: 22px;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 10px;
}

.item {
    height: 350px;
    width: 400px;
}

/* Footer */
footer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    padding-left: 100px;
    background-color: #d5d5d5;
}